#fslink {
    color: #FF4719;
}

#input {
    margin: 10px 0 5px 5px;
    width: 195%;
    height: 35px;
    font-size: 17px;
    font-family: helvetica, sans-serif;
    color: #9D9D9D;
    border: none;
    -webkit-box-shadow: 2px 2px 5px #9D9D9D;
    outline: none;
    position: absolute;
}

#search-container {
    position: absolute;
    z-index: 3;
}

#search-nav {
    width: 230px;
    max-height: 360px;
    background-color: rgba(256,256,256,.8);
    overflow: scroll;
}

#scroller {
    max-height: 360px;
    overflow: scroll;
    margin: 0 5px;
    padding-top: 45px;

}

#arrow {
    height: 45px;
    width: 45px;
}

#arrow-container {
    background-color: rgba(256,256,256,.8);
    max-width: 45px;
}


.reset-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    float: middle;
}


#reset,
#reset:focus {
    float: center;
    height: 60px;
    width: 60px;
    float: right;
    margin: 0 10px 15px 0;
    border-radius: 10%;
    background-color: #2E1F0F;
    opacity: 0.9;
    font-size: 14px;
    color: white;
    outline: none;
}

#reset:hover {
    background-color: white;
    color: #2E1F0F;
    outline: none;
}

@media screen and (max-width: 700px) and (orientation:landscape) {
    #search-container {
        display: none;
    }
}